@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Login</h2>
<div class="row">
    <div id="error" class="col">
        <div class="text-danger" asp-validation-summary="All"></div>
    </div>
</div>
<form method="post" autocomplete="off">
    <div class="row">
        <div class="col-6">
            <div class="form-floating">
                <input class="form-control" placeholder=" " asp-for="Username" />
                <label asp-for="Username">Username</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 my-2">
            <div class="form-floating">
                <input class="form-control" placeholder=" " asp-for="Password" type="password" />
                <label asp-for="Password">Password</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
                <div class="col">
                    <button asp-page-handler="NewAccount" class="btn btn-primary float-end" data-bs-dismiss="modal">New Account</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });

        if (params.session == 'expired') {
            let err = document.createElement('span')
            err.setAttribute('class', 'text-danger')
            err.innerHTML = 'Your session has expired, please log in again'
            document.querySelector('#error').appendChild(err)
        }
    </script>
}